@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;    
  }

.container {
  position: relative;
  max-width: 1596px;
  top: 292px;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

li {
  box-shadow: 0px 7px 25px 0px #64646F33;
  background: #FFFFFF;
  position: relative;
  display: inline-block;
  margin: 5px;
}

li:nth-child(-n+2) {
  width: 788px;
  height: 262px;
}

li:nth-child(n+3) {
  width: 518px;
  height: 150px;
  margin: 7px;
}

p {
  color: #767676;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  font-size: 14px;
}

.alive {
  color: green;
}

.dead {
  color: red;
}

span {
  font-weight: bold;
}

.status {
  position: absolute;
}

#bigstatus{
  bottom: 10%;
  left: 30px;
}

#smallstatus{
  bottom: 8%;
  left: 34px;
}

.created {
  position: absolute;
  right: 35px;
  bottom: 21px;
}

#bigcreated{
  bottom: 10%;
}

#smallcreated{
  bottom: 8%;
}

.name {
  position: absolute;
  top: 20px;
  left: 30px;
  font-family: 'Fira Sans';
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 30px;
  color: #282626;
}

#bigname {
  font-size: 30px;
}

#smallname {
  font-size: 25px;
}

